@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="flex flex-wrap">
    <div class="w-full md:w-1/2">
        <form method="post">
            <div asp-validation-summary="All" class="mb-4 text-red-500" role="alert"></div>
            <div class="mb-3">
                <input asp-for="Input.Email" class="block w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:ring-blue-500 focus:border-blue-500" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="text-gray-700">Email</label>
                <span asp-validation-for="Input.Email" class="text-red-500"></span>
            </div>
            <button type="submit" class="w-full rounded-md bg-blue-500 px-4 py-2 font-bold text-white shadow hover:bg-blue-700">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}