@model subcategoiesMilk

<div class="container mx-auto max-w-6xl bg-gray-800 p-6">
    <div class ="bg-gray-100 p-6 shadow-lg">
    
    <h1 class="mb-6 text-center text-3xl font-bold text-gray-800">@((Model.MilkId != 0) ? "Update Item" : "Add New Item")</h1>

        <form method="post" class="grid-cols-2 grid gap-8 space-y-6">
            <input asp-for="@(Model.MilkId)" hidden />
            <div class="mt-12 h-[40px] items-center rounded-lg bg-blue-500" >
                <label class="">Milk Type</label>
            </div>


            <div><h1>Hello</h1></div>
            <div><h1>Hello</h1></div>
            <div><h1>Hello</h1></div>
            <div><h1>Hello</h1></div>
            <div><h1>Hello</h1></div>
            <div><h1>Hello</h1></div>
            

    </form>

    </div>
</div>