@page
@using MilkDairy.Areas.Identity.Pages.Account.Manage
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="relative mb-4 rounded border border-yellow-400 bg-yellow-100 px-4 py-3 text-yellow-700" role="alert">
    <p>
        <strong class="font-bold">This action only disables 2FA.</strong>
    </p>
    <p>
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a asp-page="./ResetAuthenticator" class="text-blue-500 hover:underline">reset your authenticator keys.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="rounded-md bg-red-600 px-4 py-2 font-bold text-white shadow hover:bg-red-700" type="submit">Disable 2FA</button>
    </form>
</div>