@model List<Product>
<partial name="_notificationView" />

<div class="container mx-auto px-4 py-6 rounded-lg bg-white shadow-md">
    <!-- Header Section -->
    <div class="mb-4 flex items-center justify-between">
        <h1 class="text-3xl font-extrabold tracking-wide text-gray-800">Product List</h1>
        <a asp-action="Upsert" class="inline-block transform rounded-md bg-gradient-to-r from-blue-500 to-blue-700 px-6 py-2 font-medium text-white shadow-md transition duration-300 hover:from-blue-600 hover:to-blue-800 hover:scale-105">
            Create New Product
        </a>
    </div>

    <!-- Table Section with DataTable -->
    <div class="flex justify-center">
        <div class="w-full overflow-x-auto rounded-lg bg-white p-3 shadow-md">
            <table id="myTable" class="w-full table-auto border-collapse border border-gray-300">
                <thead class="rounded-r bg-blue-300">
                    <tr>
                        <th class="px-4 py-2 text-left text-sm font-medium">Name</th>
                        <th class="px-4 py-2 text-left text-sm font-medium">Description</th>
                        <th class="px-4 py-2 text-left text-sm font-medium">Brand</th>
                        <th class="px-4 py-2 text-left text-sm font-medium">Weight/Volume</th>
                        <th class="px-4 py-2 text-left text-sm font-medium">Ingredients</th>
                        <th class="px-4 py-2 text-left text-sm font-medium">Unit Price</th>
                        <th class="px-4 py-2 text-left text-sm font-medium">Units In Stock</th>
                        <th class="px-4 py-2 text-left text-sm font-medium">Is Available</th>
                        <th class="px-4 py-2 text-center text-sm font-medium">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be dynamically loaded here by DataTable -->
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}